<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editando lista de precios</h1>

  <%= render "form", price_list: @price_list %>

  <%= link_to "Ver lista de precios", @price_list, class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
  <%= link_to "â® Volver", price_lists_path, class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
</div>
