<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto contenedor2-div">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @price_list %>

    <%= link_to 'Editar', edit_price_list_path(@price_list), class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
    <%= link_to 'â® Volver', price_lists_path, class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
  </div>
</div>
