<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Generar Comprobante</h1>

  <%= render "form", bill: @bill %>

  <%= link_to 'â® Volver', sales_path, class: "btn ml-2 rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
</div>
