<div class="mx-auto md:w-3/4 w-full flex">
  <div class="w-full contenedor2-div">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @bill %>

    <%= link_to 'â® Volver', bills_path, class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
  </div>
</div>
