<div class="flex w-full justify-center">
    <div class="fles flex-col">
        <h1 class="font-bold text-4xl">¡¡¡Bienvenido!!!</h1>
        <h1 class="pt-20 flex justify-center"> Acá van a estar los graficos </h1>
        <% if logged_in? %>
            <h1>You are Logged In, <%= current_user.username %></h1>
        <%end%>
        <%= button_to "Login", '/login', method: :get%>
        <%= button_to "Log Out", '/sessions/close', method: :get%>
    </div>
</div>
