<div class="flex w-full justify-center">
    <div class="fles flex-col">
        <h1 class="font-bold text-4xl">¡¡¡Bienvenido!!!</h1>
        <h1 class="pt-20 flex justify-center"> Acá van a estar los graficos </h1>
    </div>
</div>
