<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editando categoría</h1>

  <%= render "form", category: @category %>

  <%= link_to "Ver categoría", @category, class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
  <%= link_to "❮ Volver", categories_path, class: "btn rounded-lg py-4 px-5 bg-gray-100 inline-block font-medium text-black hover:text-white" %>
</div>
